<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.Camo.Tess" android:installLocation="auto" android:versionName="0.6 alpha" android:versionCode="6">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Tess.Droid"></application>
</manifest>